@import "tailwindcss";

body {
  background-image: url('/Images/Wallpaper.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }

  .animate-loading-bar {
    animation: loading-bar 10s ease-out forwards;
  }

  .delay-100 {
    animation-delay: 0.1s;
  }

  .delay-200 {
    animation-delay: 0.2s;
  }
}

@keyframes loading-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
